body {background-color:#5D91F7;}

.maindiv{margin:200px auto;}

.material-icons{ color:white;
		 display:block;
		 text-align:center;
		 height:10px;
		}

.div1{	color:white;
	font-size:18px;
	text-align:center;
	padding: 25px;}

.div2{	margin:0px auto;
	background-color:white;
	border-radius:5px;
	text-align:center;
	padding:40px;
	box-sizing:border-box;
	height:230px;
	width:27%;}

input[type=text] {	border :1.5px solid #E0E0E0;
			border-radius: 3px;
			height:45px;
			color:#E0E0E0;
			padding:8px;
			box-sizing:border-box;
			font-size:12px;
			width:90%;
			margin: 2px;}

input[type=button]{	background-color:#5D91F7;
			border:none;
			border-radius: 3px;
			width:90%;
			height:40px;
			color:white;
			box-sizing:border-box;
			font-size:12px;
			padding:10px;
			margin: 6px;}

.div3{	float:left;
	color:white;
	width:500px;
	text-align:right;
	font-size:14px;
	padding:15px;
	box-sizing:border-box;
	margin-left:200px;
	}

.div4{	
	color:white;
	text-align:center;
	font-size:14px;
	float:left;
	width:330px;
	box-sizing:border-box;
	padding:15px;
	}
